<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="css/style.css">
</head>

<body>

 <header class="header">

      <div class="header__icon">
          <img src="img/weather.jpg" alt="" class="header__image">
      </div>  

      <h1 class="header__title">{{title}}</h1>
      

    <div class="header__links">
        <a class="header__link" href="/">Weather</a>
        <a class="header__link" href="/about">About</a>
        <a class="header__link" href="/help">Help</a>
    </div>

 </header>   
   
</body>
</html>