<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    

 
  <div class="container">
     {{>header}}
    {{!-- <h1>{{title}}</h1> --}}
   
  <div class="section__weather">
    <h3 class="section__weather-heading">Search the location here:</h3>
        <div class="section__weather-body">
              <div class="section__search">
                  <input type="text" placeholder="location" class="input-box"> 
                  <button class="weather_search">Search</button>
              </div>
        </div> 
       <p id="weather">weather</p>
       <p id="location"></p>
  </div> 
    
     
  </div>  







    <p>{{>footer}}</p>
    
</body>
<script src="js/app.js "></script>
</html>